.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding:16px;
}

.customCard{
    max-width: 520px;
    background-color: #0b2451;
    min-height: 300px;
    border-radius: 25px;
    min-width: 370px;
    padding:16px;
}
